/* hero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url("../Img/hero-back.jpg");
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* min-height: 80%; */
    background-repeat: no-repeat;
    background-size:100% 100%;
    object-fit: cover;
    
    
}
.hero .left {
    position: relative;
    /* background-color: #2cca91; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero .left span {
    color: blueviolet;
}

.rainbow-hover {
    font-size: 16px;
    font-weight: 700;
    color: #ff7576;
    background-color: #6773a3;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    line-height: 24px;
    border-radius: 9px;
    box-shadow: 0px 1px 2px #2B3044,
        0px 4px 16px #2B3044;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.1s;
}

.sp {
    background: linear-gradient(90deg,
            #df660f,
            #ea60da,
            #ed8f57,
            #fbd41d,
            #2cca91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: block;
}

.rainbow-hover:active {
    transition: 0.3s;
    transform: scale(0.93);
}
.hero-inp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2cca91;
    width: 80%;
    border-radius: 15px;
    background-color: rgb(139, 143, 146);
}
.hero-inp .ant-input {
    outline: none;
    border: none;

}
.hero-inp svg {
    color: black;
}
.hero-inp .each {
    display: flex;
}
.hero-inp .each span {
    color: white;
}
.ant-picker-body th,.ant-picker-cell-in-view,.ant-picker-cell-innner {
    background-color: aliceblue;
}

.hero .right {
    position: relative;
    /* background-color: #aec4f4; */
}

.hero .right .ani {
    position: absolute;
    top: 20px;
    left: 0;
    height: 200px;
    animation: example 5s infinite ease; 
    background-color: #2cca91;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #aec4f4;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #aec4f4;
}
.hero .right .ani .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .right .ani img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

@keyframes example {
    0% {
        bottom: 0px;
        top: 15px;
    }

    100% {
        bottom: 15px;
        top: 0px;
    }
}
.ani1 {
    display: flex;
    background-color: aliceblue;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    bottom: 60px;
    right: 0;
    /* top: 800px; */
    border-radius: 10px;
    animation: example1 5s infinite ease; 
}
.ani1 .check {
    border-radius: 4px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
.ani1 .check svg {
    color: white;

}

@keyframes example1 {
    0% {
        bottom: 10px;
        top: 0px;
    }

    100% {
        bottom: 0px;
        top: 10px;
    }
}




@media only screen and (max-width: 1185px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
        
    }
    .ani1{
        display: none;
    }
  }